/* * { */
/* 	color: red!important; */
/* } */

[class^="paybar_container__"] {
    display: none!important;
}

.bpx-player-progress-area,
.bpx-player-progress-wrap,
.bpx-player-progress {
    height: 14px!important;
    padding: 0!important;
}

.bpx-player-progress-schedule-wrap {
    transition: transform .3s;
}

.bpx-player-progress-schedule-current {
    transition: transform .2s;
}

#biliMainHeader,
.bili-header,
.bili-header__bar{
    height: 40px!important
}


/* enlarge the max-height of bili play-list container */
.video-sections-content-list {
    height: unset!important;
    max-height: 500px!important;
}

/* 设置最小高度, 防止滚动条乱跳 */
/* b前端=s**t */
#submit-video {
    min-height: 1182px;
}

/* 隐藏B站用户信息悬浮窗 */
.bili-user-profile,
bili-user-profile {
	visibility: none!important;
	display: none!important;
}

.bpx-player-top-issue,
.bpx-player-top-left-music,
.bpx-player-top-left-title {
	display: none!important;
}

.bili-dyn-home--member > main {
	width: 720px!important;
}
