/* * { */
/* 	color: red!important; */
/* } */

[class^="paybar_container__"] {
    display: none!important;
}

.bpx-player-progress-area,
.bpx-player-progress-wrap,
.bpx-player-progress {
    height: 14px!important;
    padding: 0!important;
}

.bpx-player-progress-schedule-wrap {
    transition: transform .3s;
}

.bpx-player-progress-schedule-current {
    transition: transform .2s;
}

#biliMainHeader,
.bili-header,
.bili-header__bar{
    height: 40px!important
}


/* enlarge the max-height of bili play-list container */
.video-sections-content-list {
    height: unset!important;
    max-height: 500px!important;
}

/* 设置最小高度, 防止滚动条乱跳 */
/* b前端=s**t */
#submit-video {
    min-height: 1182px;
}

/* 隐藏B站用户信息悬浮窗 */
.bili-user-profile,
bili-user-profile {
	visibility: none!important;
	display: none!important;
}

.bpx-player-top-issue,
.bpx-player-top-left-music,
.bpx-player-top-left-title {
	display: none!important;
}

/* 调整动态页面宽度 */
.bili-dyn-home--member > main {
	width: 720px!important;
}


/* 隐藏右侧小按钮(回顶部) */
.fixed-sidenav-storage,
.bili-dyn-sidebar {
/* .back-to-top-wrap, */
/* .bili-dyn-sidebar__btn:has(.back-top) { */
    display: none!important;
}


.my-indicator {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: hsla(0,0%,100%,.8);
	border-radius: 4px;
	color: #000;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 20px;
	height: 32px;
	min-width: 84px;
	padding: 8px;
	position: absolute;
	z-index: 78;

	top: 20px;
	right: 20px;
	transition: opacity .3s;
}

.my-indicator.hide {
	opacity: 0;
	visibility: none;
}
