/* 隐藏Selection菜单 */
[class^="selectionOpts--"] {
    display: none!important;
}

/* 隐藏提醒(AI成生不可靠之类的) */
[class^="desc--"] {
    display: none!important;
}


/* 隐藏最左边功能栏 */
#tongyiPageLayout > div:nth-of-type(2) {
    display: none!important;
}

#tongyiPageLayout > div:nth-of-type(3) {
	padding-left: 8px;
}

